<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <!-- "Add to Cargo Hold" button goes here. -->
            <span *ngIf="checkForSpace(); else elseBlock">
                <button [class.active]="checkForSpace()" (click)="additem(item)">Add to Cargo Hold</button>
                <span>{{item.name}}, {{item.mass}} kg</span>
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p>Mass Budget Remaining: {{<!-- Calculate mass remaining here. -->}} kg</p>
    <!-- Add the "Empty Hold" button here. -->
</div>

